body {
  background-image: url("https://images7.alphacoders.com/333/thumb-1920-333222.jpg");
  background-size: cover;
  margin: 8px;
  font-family: 'New Super Mario Font U', sans-serif;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sub-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    border-radius: 10px;
}

li {
    float: left;
}
    
li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 40px;
    font-family: 'New Super Mario Font U', sans-serif;                                          
}
    
li a:hover {
    background-color: #111111;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 100px;
  height: 100vh;
}

.sub-container {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  gap: 15px;
}

.sub-container h1 {
  font-size: 60px;
  margin: 0 0 50px 0;
  -webkit-text-stroke: 0.5px black;
  display: inline-block;
}

#blue { color: blue; }
#yellow { color: yellow; }
#red { color: red; }
#green { color: green; }

.prelims-header {
  display: flex;
  align-items: center;
  gap: 5px;
}

.prelims-header img {
  width: 45px;
  height: auto;
  border-radius: 5px;
}

.sub-container h2 {
  font-size: 35px;
  margin: 10px 0;
  color: #94450B;
  -webkit-text-stroke: 0.5px black;
  cursor: pointer;
  user-select: none;
}

#blue1:hover { color: blue; }
#yellow1:hover { color: yellow; }
#green1:hover { color: green; }
#red1:hover { color: red; }

#header1 {
  width: 50px;
  height: auto;
  margin-bottom: 50px;
}

@keyframes jump {
  0% { transform: translateY(0); }
  30% { transform: translateY(-20px); }
  50% { transform: translateY(0); }
  70% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  z-index: 10;
  min-width: 120px;
}

.dropdown-content p, a {
  margin: 5px 0;
  cursor: pointer;
  color: black;
  font-size: 24px;
  user-select: none;
  text-decoration: none;
}

.dropdown-content p:hover {
  color: blue;
}

.dropdown-content a:hover {
  color: blue;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

iframe#contentFrame {
  width: 70%;
  height: 88vh;
  border: none;
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  margin-right: 10px;
  display: none;
}
